<div class="LoginForm text-center">
  <h1 class="LoginForm-title sc-m-t--xl sc-m-b--m">Test Track</h1>
  <%= link_to 'Log in', omniauth_authorize_path(:admin, :saml), class: 'button LoginCard-cta saml', method: :post %>
</div>
