<div class="LoginForm u-center">
  <h1 class="LoginForm-title sc-m-t--xl sc-m-b--m">Test Track</h1>
  <%= link_to 'Log in', admin_omniauth_authorize_path(:saml), class: 'button LoginCard-cta saml' %>
</div>
