<% content_for :body_class do %>sessions<% end %>
<section class="row sessions">
  <h1>Test Track</h1>
  <%= link_to value='Log in',  admin_omniauth_authorize_path(:saml), class: 'login saml' %>
</section>
