<% %w(error success).map do |type| %>
  <% if flash[type.to_sym].present? %>
    <div class="sc-flash sc-m-b--s <%= type %>">
      <span class="content"><%= flash[type.to_sym] %></span>
      <figure class="close" data-behavior="close-flash">
        <icon class="Icon-close"></icon>
      </figure>
    </div>
  <% end %>
<% end %>
