<header class="sc-TakeoverHeader">
  <div class="sc-TakeoverHeader-content">
    <figure class="sc-TakeoverHeader-logoContainer">
      <%= link_to(image_tag('ttlogo.png', size: "47x47"), admin_root_url) %>
    </figure>
  </div>
  <div class="sc-TakeoverHeader-multiple-cta">
    <% if signed_in? %>
    <div class="sc-p--s">
      <%= link_to 'Splits', admin_root_path %>
    </div>
    <div class="sc-p--s">
      <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
    </div>
    <% end %>
  </div>
</header>
