<header class="d-flex flex-justify-between width-full">
  <div class="d-flex flex-items-center">
    <figure class="p-2 color-bg-overlay">
      <%= link_to(image_tag('ttlogo.png', size: "47x47"), admin_root_url) %>
    </figure>
    <p class="color-fg-on-emphasis h3 m-0">
      <%= page_title %>
    </p>
  </div>
  <% if signed_in? %>
    <nav class="d-flex flex-items-center flex-justify-end">
      <%= link_to 'Splits', admin_root_path, class: "p-3 u-white-link" %>
      <%= link_to 'Log out', destroy_admin_session_path, method: :delete, class: "p-3 u-white-link" %>
    </nav>
  <% end %>
</header>
