.banner {
  background-color: #ff6759;
  height: 22px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-text {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 0;
}
