.InfoCard {
  background: var(--color-scale-white);
  padding: $spacer-4;

  &-divider {
    background-color: var(--color-scale-black);
    border-bottom: 1px solid var(--color-scale-black);
  }

  &-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &-titleContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &--constrained {
    max-width: calc($app_width / 2);
  }
}
