.sc-TakeoverHeader {

  &-content {
    @include display(flex);
    @include justify-content(space-between);
  }

  &--multipleCta {
    @include display(flex);

    a {
      font-size: 1.4rem;
      text-transform: uppercase;
      color: $white;
    }
  }
}
