.input-search .display-selected:after,
.input-select .display-selected:after,
.input-select-checkboxes .display-selected:after,
.grouped-input-select .display-selected:after,
.native-select:after {
  @include icomoon;
  content: $icon-chevron-thin-down;
  font-size: 2.5rem;
  bottom: 0.25em;
  right: 0.5em;
}

.input-check {
  padding-top: 0;

  input[type="checkbox"] + label.regular:before {
    @include icomoon;
    content: $icon-checkmark;
    font-size: 107.5%;
    padding: 0.04em 0 0 0.04em;
  }
}


.input-text input, .input-number input, .input-email input, .input-password input, .input-money input, .input-cents input, .input-percent input, .input-search input, .input-datepicker input, .input-file input, .input-text textarea, .input-number textarea, .input-email textarea, .input-password textarea, .input-money textarea, .input-cents textarea, .input-percent textarea, .input-search textarea, .input-datepicker textarea, .input-file textarea {
  font-weight: 400;
}
