.top-bar {
    color: $white;
    background: $blue;
    width: 100%;
    height: 70px;
    padding: 10px;
    @include clearfix;

    h1 {
        float: left;
        color: $white;
        font-size: 16px;
    }

    .performer-nav {
        float: right;

        ul {
            padding: 0;
            margin: 0;
            @include clearfix;

            &> li {
                list-style-type: none;
                float: left;
                padding: 20px;
                display: block;
                text-transform: uppercase;

                a {
                    color: $white;
                    text-decoration: none;
                    font-size: 13px;
                    font-weight: 300;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.nav-bar {
    height: 50px;
    position: relative;
    border-bottom: 1px solid $lighter-grey;
    background: $white;

    .nav-bar-inner {
        margin: 0 auto;
        width: $app-width;
        padding: 0 10px 0;

        ul {
            margin: 0;
            padding: 0;
            height: 100%;
            float: left;
            list-style-type: none;

            &> li {
                line-height: 50px;
                padding: 0 30px 0 0;
                float: left;
                &.depressed a {
                    color: $bright-blue;
                    box-shadow: 0 3px 0 0 $bright-blue;
                    position:relative;
                }
            }

            a {
                display: block;
                padding: 0;
                text-decoration: none;
                font-size: 17px;
                color: $blue;

                &:hover {
                    color: $bright-blue;
                }
            }
        }
    }
}
