$asset-pipeline: true; //pull font urls correctly
@import "style-closet";
@import "bootstrap";

@import "typography/base";
@import "typography/utilities";

@import "components/tables";
@import "components/inputs";
@import "components/card";
@import "components/explanation_list";
@import "components/header";

.alert-notice {
  @extend .alert-success;
}

.alert-error, .alert-alert {
  @extend .alert-danger;
}
