<article class="card">
  <h2 class="top">Test Synopsis</h2>
    <table class="borderless bottom">
        <tr>
            <td>Hypothesis</td>
            <td><%= split.hypothesis %></td>
            <td><%= link_to "Edit", edit_admin_split_context_path(@split), class: 'button u-button' %></td>
        </tr>
        <tr>
            <td>Context</td>
            <td><%= split.context %></td>
        </tr>
    </table>
</div>
