<article class="card">
  <div class="ArticleHeader">
    <h2 class="top">Test Overview</h2>

    <% unless @split.has_details? %>
    <%= link_to "Add Details", edit_admin_split_detail_path(@split), class: 'button sc-m-r--s' %>
    <% end %>
  </div>

  <% if @split.has_details? %>
    <table class="borderless bottom">
      <tr>
        <td>Hypothesis</td>
        <td><%= split.hypothesis %></td>
        <td><%= link_to "Edit", edit_admin_split_detail_path(@split) %></td>
      </tr>
      <tr>
        <td>Assignment Context</td>
        <td><%= split.assignment_context %></td>
      </tr>
    </table>
  <% else %>
    <div class="EmptyTable sc-p--l">
      <p>
        <strong>Add a synopsis of your test.</strong>
        <br>
        You'll want to add this information so that other teams and CX know what to expect from the test that you're running.
      </p>
    </div>
  <% end %>
</div>
