<h1 class="my-5">Active Split Tests</h1>

<div class="my-4">
  <table class="BasicTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner App</th>
        <th>Date Migrated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @splits %>
    </tbody>
  </table>
</div>
