<div class="InfoCard">
  <div class="InfoCard-titleContainer">
    <h1>Active Split Tests</h1>
  </div>
  <hr class="InfoCard-divider">
  <table class="BasicTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Weightings</th>
        <th>Owner App</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @splits %>
    </tbody>
  </table>
</div>
