<div class="TakeoverText">
  <h1 class="TakeoverText-title sc-m-v--l">Active Split Tests</h1>
</div>

<div class="sc-m-v--m">
  <table class="BasicTable">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner App</th>
        <th>Date Migrated</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%= render @splits %>
    </tbody>
  </table>
</div>
