<div class="TakeoverText">
  <h1 class="TakeoverText-title sc-m-v--l">Split: <%= @split.name %></h1>
</div>

<%= render partial: "details", locals: { split: @split } %>
<%= render partial: "test_overview", locals: { split: @split } %>
<%= render partial: "variants", locals: { split: @split } %>
