body {
  @include sc-responsive-typography;
  font-family: $primary-font-stack;
  min-width: $app-min-width;
}

.Body {
  &--nearWhite {
    background: $near-white;
  }
  &--white {
    background: $white;
  }
}

$font-medium: 400;
