.u-status {
  &--active {
    color: var(--color-scale-green-4) !important;
  }
}

.u-white-link {
  color: var(--color-scale-white);
  font-size: $body-font-size;
  font-weight: $font-weight-bold;
  text-transform: uppercase;

  &:hover {
    color: var(--color-scale-blue-3);
  }
}
