.u-emphasis {
  font-style: italic;
}

.u-status {
  &--active {
    color: $green !important;
  }
}

.u-center {
  text-align: center;
}

.u-white-link {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: $font-heavy;
  color: $white;
  &:hover {
    color: $light-blue;
  }
}
