<header class="top-bar">
  <div class="main-content">

    <%= link_to(image_tag('ttlogo.png', size: "47x47"), admin_root_url) %>
    <% if signed_in? %>
      <nav class="performer-nav">
        <ul>
          <li>
            <%= link_to 'Splits', admin_root_path %>
          </li>
          <li>
            <%= link_to 'Log out', destroy_admin_session_path, method: :delete %>
          </li>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
